<%page expression_filter="h"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>

<%inherit file="../main.html"/>
<%namespace file='../main.html' import="login_query"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="title">
    <title>
        ${_("Contact {platform_name} Support").format(platform_name=platform_name)}
    </title>
</%block>

<%block name="head_extra">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</%block>

<%block name="body">

<div id="root" class="container about">

        <style>

            .about h2 {
                font-weight: 800;
                text-align: center;
                font-size: 1.3em;
            }

            .about h3 {
                margin-top: 1.5em;
                margin-bottom: 0.8em;
                font-weight: 700;
            }

            .about p {
                line-height: 125%;
                margin-top: 0.3em;
                margin-left: 0.5em;
            }

            .about li {
                line-height: 125%;
            }

        </style>


        <h2>問い合わせ</h2>

        <p>KoALAに関するお問い合わせ先：</p>

        <p>高等教育研究開発推進センター（KoALA担当）</p>
        <p>koala+at+highedu.kyoto-u.ac.jp<br>
            (“+at+” を "@" に置き換えて下さい)</p>


</div>

</%block>