<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">


        <h2>KoALAについて</h2>

        <p>KoALAは、学内向けに講義ビデオや提出課題等のオンライン教材を提供するための学習支援環境です。京都大学の学生アカウント（ECS-ID）または教職員アカウント（SPS-ID）で本サイトに登録できます。</p>

        <p>本学の関係者以外の方は、本サイトのトップページからアカウントの作成が必要です。</p>

        <h3>本サイトに初めてログインするには</h3>
        <p>トップページの「サインイン」から「機関/学校の証明書を使う」をクリックした後、認証画面が表示されますのでアカウント情報を入力して下さい。</p>

        <h3>オンライン講義を受講するには</h3>
        <p>授業の中でKoALAの教材を使う場合は、担当教員の指示に従って下さい。</p>
        <p>一般公開の講義は、学外の方も受講することができます。</p>

        <p>KoALAに関するお問い合わせ窓口は<a href="https://koala.highedu.kyoto-u.ac.jp/contact">こちら</a>です。</p>
        <p>高等教育研究開発推進センター　KoALA担当</p>

        <h2>FAQ</h2>

        <h3>KoALAの正式名称は？</h3>
        <p>"Kyoto University Online for Augmented Learning Activities" から取っています。反転授業や予復習のためのブレンディッド学習での利用をはじめ、授業内・外での学びの質的・量的な向上・強化に活用されることが目指されています。</p>


        <h3>京都大学からなぜオンライン講義を配信しているの？</h3>

        <p>近年、世界中の人々が無料で受講できるMOOC（大規模オープンオンライン講義：Massive Open Online Courses）と呼ばれるオンライン講義配信の取り組みが世界的な広まりをみせています。
            京都大学は、主要なグローバルMOOCプラットフォームである米国の<a href="https://www.edx.org/" target="_blank">edX</a>（エデックス）を通じて英語によるMOOCを配信しています。
            このMOOCが世界中の誰もに開かれたオンライン講義であるのに対し、MOOCと同様のツールや仕組みを利用し、各大学が自学の学生向けに提供するオンライン講義・教材・学習環境を総称してSPOC（小規模プライベートオンライン講義：Small Private Online Couses）と呼びます。
            KoALAは、本学向けに構築されたSPOCを提供する学習支援環境です。</p>

        <h3>英語表示することはできるの？</h3>
        <p>お使いのブラウザの言語設定により、メニュー等を英語で表示できます。講義の内容が日本語で提供されている場合は、自動的に教材が英語化される訳ではありません。</p>


        <h3>問い合わせ</h3>

        <h4>KoALAに関するお問い合わせ先：</h4>

        <p>高等教育研究開発推進センター（KoALA担当）</p>
        <p>koala+at+highedu.kyoto-u.ac.jp<br>
            (“+at+” を "@" に置き換えて下さい)</p>



    </section>
</main>
