<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>


        <h3>問い合わせ</h3>

        <p>KoALAに関するお問い合わせ先：</p>

        <p>高等教育研究開発推進センター（KoALA担当）</p>
        <p>koala+at+highedu.kyoto-u.ac.jp<br>
            (“+at+” を "@" に置き換えて下さい)</p>




    </section>
</main>
