<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

        <style>

            .about h2 {
                font-weight: 800;
                text-align: center;
                font-size: 1.3em;
            }

            .about h3 {
                margin-top: 1.5em;
                margin-bottom: 0.8em;
                font-weight: 700;
            }

            .about p {
                line-height: 125%;
                margin-top: 0.3em;
                margin-left: 0.5em;
            }

            .about li {
                line-height: 125%;
            }

        </style>


        <h2>問い合わせ</h2>

        <p>KoALAに関するお問い合わせ先：</p>

        <p>高等教育研究開発推進センター（KoALA担当）</p>
        <p>koala+at+highedu.kyoto-u.ac.jp<br>
            (“+at+” を "@" に置き換えて下さい)</p>




    </section>
</main>
