<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <style>

            .about h2 {
                font-weight: 800;
            }

            .about h3 {
                margin-top: 0.8em;
                margin-bottom: 0.5em;
                font-weight: 700;
            }

            .about p {
                line-height: 125%;
                margin-top: 0.3em;
                margin-left: 0.5em;
            }

        </style>

        <h2>プライバシーポリシー／Privacy Policy</h2>

        <p>本サイトKoALA（以下、「本サイト」といいます。）は、京都大学のプライバシーポリシーに準じて運用します。京都大学のプライバシーポリシーは<a href="http://www.kyoto-u.ac.jp/ja/privacy_policy/" target="_blank">こちら</a>に掲載されています。</p>
        <p>なお、個人情報の収集にあたってはその利用目的、問い合わせ先などを明記します。また本サイトの運用の改善、利用者の支援、学術研究、統計データの作成のために、本サイトへのアクセス記録を取得します。</p>

        <p>This website KoALA (hereinafter, the “Site”) will offer the site pursuant to the Privacy Policy of Kyoto University. Please see the Privacy Policy of Kyoto University <a href="http://www.kyoto-u.ac.jp/en/privacy_policy/" target="_blank">here</a>.</p>

        <p>When collecting personal information, the Site shall disclose the intended use for such information, the contact information, and the other information. The Site will use information on your access to the Site for the following purposes:</p>

        <ul>
            <li>To improve the Site.</li>
            <li>To support the users.</li>
            <li>For purposes of scientific research.</li>
            <li>To obtain statistical data.</li>

        </ul>

        <p style="text-align: right">以上</p>
        <p style="text-align: right">制定　2018年3月12日</p>

    </section>
</main>
