<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>プライバシー・ポリシー（作成中）</h1>

        <p>本サイトは、京都大学のプライバシー・ポリシーに準じて運用します。京都大学のプライバシー・ポリシーは、下記のページに掲載されています。</p>

<p>京都大学 プライバシー・ポリシー（<a href="http://www.kyoto-u.ac.jp/ja/privacy_policy/" target="_blank">http://www.kyoto-u.ac.jp/ja/privacy_policy/</a>）</p>

<p>なお、個人情報の収集にあたってはその利用目的、問合せ先などを明記します。また、当ページの運用の改善、利用者の支援、統計データの作成のために本サイトへのアクセス記録を取得します。</p>


    </section>
</main>
