<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">


        <h2>利用規約／Terms of Use</h2>

        <style>

            .about h2 {
                font-weight: 800;
                text-align: center;
                font-size: 1.3em;
            }

            .about h3 {
                margin-top: 1.5em;
                margin-bottom: 0.8em;
                font-weight: 700;
            }

            .about p {
                line-height: 125%;
                margin-top: 0.3em;
                margin-left: 0.5em;
            }

            .about li {
                line-height: 125%;
            }


            ol.list_parentheses{
                list-style-type: none;
                margin-left: 1.5em;
            }

            ol.list_parentheses li{
              counter-increment: cnt;
            }
            ol.list_parentheses li:before{
              display: marker;
              content: "(" counter(cnt) ") ";
              margin-left:-1.5em;
              width: 1.5em;
            }

        </style>

        <p>この利用規約（以下、「本規約」といいます。）は、本サイトKoALA（以下、「本サイト」といいます。）の利用条件を定めるものです。本学関係者以外の受講者の皆様（以下、「受講者」といいます。）には、本規約に従って、本サイトをご利用いただきます。</p>
        <p>These terms of use (hereinafter, these “Terms of Use”) govern the KoALA website (“the Site”). The learners who do not belong to Kyoto University (“you,” the “Learner” or “Learners”) shall not access or use this Site until you have carefully read and agreed to the following Terms of Use.</p>

        <h3>１．適用 Application of Terms of Use</h3>
        <p>本規約は、受講者の本サイトの利用に関して適用されるものとします。</p>
        <p>These Terms of Use shall apply to the use of the Site by the Learners.</p>

        <h3>２．本サイトの内容 Site Description</h3>

        <ol class="list_parentheses">
            <li>本サイトは、京都大学の教員によるオンライン講義を提供する学習プラットフォームです。</li>
            <li>受講者は、本サイトを通じて、受講登録した講義の講義コンテンツを視聴・閲覧するほか、ディスカッションへの参加、課題への提出等により、学習サービスを受けることができます。</li>
        </ol>
        <p></p>
        <ol class="list_parentheses">
            <li>The Site is an online platform which offers online courses created by the faculty members at Kyoto University.</li>
            <li>By registering as an online learner, you can view and read contents of the course which you are enrolled in, and use services through participation in discussions, submission of course assignments, and other learning activities.</li>
        </ol>


        <h3>３．受講登録 Site and Course Registration</h3>
        <p>登録希望者が本サイトの定める方法によって受講登録の手続きをおこなうことにより、受講登録が完了するものとします。</p>
        <p>You may be required to register by following the steps set forth in the Site to enroll in the course.</p>

        <h3>４．受講登録内容の変更 Modification of Registration Information</h3>

        <p>受講者は、受講登録内容に変更があった場合、本サイトの定める方法により当該変更事項等を変更するよう努めるものとします。</p>
        <p>You shall make reasonable effort to update your registration information as necessary to keep it accurate and up-to-date by following the steps set forth in the Site.</p>

        <h3>５．譲渡の禁止 Prohibition of Transfer</h3>
        <p>受講者は、受講者としての資格、地位、権利または義務につき、第三者に移転もしくは譲渡し、または担保に供し、その他一切の処分をすることはできません。</p>
        <p>You shall not transfer, assign or encumber in favor of a third party, or otherwise dispose of your status as a Learner or your rights or obligations arising from such status.</p>

        <h3>６．退会 Closing Your User Account</h3>

        <ol class="list_parentheses">
            <li>受講者は、退会を希望する場合、受講者本人が本サイト問合せ先へその旨連絡するものとします。</li>
            <li>退会を希望する受講者は、退会後においても本サイト利用中に本サイトが取得した受講者情報を別途定めるプライバシーポリシーの利用目的の範囲において、本サイトおよび第三者が本規約に従って利用できることに同意します。</li>
        </ol>
        <p></p>
        <ol class="list_parentheses">
            <li>The Learner who wants to close their User Account shall send an e-mail to the contact information of the Site.</li>
            <li>The Learner who wants to close their User Account shall agree that the Site and the third party may use personal information collected by the Site during the period of the Learner’s use of the Site, pursuant to the Terms of Use within the scope of the purposes specified in the Privacy Policy, even after the Learner closes their User Account.</li>
        </ol>

        <h3>７．受講者アカウントおよびパスワードの管理 User Accounts</h3>

        <ol class="list_parentheses">
            <li>受講者は、自己の責任において、本サイトの受講者アカウントおよびパスワードを管理するものとします。</li>
            <li>受講者は、いかなる場合にも、受講者アカウントおよびパスワードを第三者に譲渡または貸与することはできません。</li>
        </ol>
        <p></p>
        <ol class="list_parentheses">
            <li>You shall keep your User Account and the Password secure and confidential.</li>
            <li>You shall not in any event transfer or loan your User Account or Password to a third party.</li>
        </ol>


        <h3>８．利用制限および登録抹消 Restriction of Use and Cancellation of Registration</h3>
        <p>本サイトは、以下の場合には、事前の通知なく、受講者に対して、本サイトの全部もしくは一部の利用を制限し、または受講者としての登録を抹消することができるものとします。</p>

        <ol class="list_parentheses">
            <li>本規約のいずれかの条項に違反した場合</li>
            <li>登録事項に虚偽の事実があることが判明した場合</li>
            <li>その他、本サイトの利用を適当でないと判断した場合</li>

        </ol>
        <p>本サイトは、本条に基づき行った行為により受講者に生じた損害について、一切の責任を負いません。</p>

        <p>Without notifying in advance, the Site may set a limit on using all or a part of the Site or delete Learners' registration in the following cases:</p>
        <ol class="list_parentheses">
            <li>In the case of violation of any articles of these Terms of Use;</li>
            <li>In the case of turning out a fact that Learner's registration information is falsehood; and</li>
            <li>For other reasons, the Site determines that the use of the Site by the Learner is inappropriate.</li>
        </ol>
        <p>The Site will not owe any responsibility to the damage which the Learner may suffer by the action taken under this term.</p>

        <h3>９．本サイトの提供の停止等 Modifications to Site</h3>
        <p>本サイトは、以下のいずれかの事由があると判断した場合、受講者に事前に通知することなく、本サイトの全部または一部の提供を中断、中止、変更、または停止することができるものとします。</p>

        <ol class="list_parentheses">
            <li>本サイトにかかるコンピュータシステムの保守点検または更新を行う場合</li>
            <li>地震、落雷、火災、停電または天災などの不可抗力により、本サイトの提供が困難となった場合</li>
            <li>コンピュータまたは通信回線等が事故により停止した場合</li>
            <li>その他、本サイトの提供が困難と判断した場合</li>
        </ol>
        <p>本サイトの提供の停止または中断により、受講者または第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</p>

        <p>The Site reserves the rights to terminate, suspend, modify or discontinue all or a part of the Site without notifying the Learners in advance if it determines that there is any of the following reasons:</p>

        <ol class="list_parentheses">
            <li>When installing updates and undertaking general diagnosis and maintenance of the computer system related to the Site;</li>
            <li>In the event that it becomes difficult to provide the Site due to force majeure including earthquake, lightning strike, fire, blackout and natural disaster;</li>
            <li>When the computer, communication line, etc. cease due to accident; and</li>
            <li>In the event that we determine that it is difficult to provide the Site.</li>
        </ol>
        <p>The Site shall not bear any responsibility for any disadvantage or damage suffered by the Learner or a third party due to suspension or interruption of the provision of the Site, regardless of the reason.</p>

        <h3>１０．禁止事項 General Prohibition</h3>

        <p>受講者は、本サイトの利用にあたり、以下の行為をしてはなりません。</p>

        <ol class="list_parentheses">
            <li>法令または公序良俗に違反する行為</li>
            <li>犯罪行為に関連する行為</li>
            <li>本サイトのサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
            <li>本サイトの運営を妨害するおそれのある行為</li>
            <li>他の受講者に関する個人情報等を収集または蓄積する行為</li>
            <li>他の受講者に成りすます行為</li>
            <li>本サイトに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
            <li>その他、本サイトが不適切と判断する行為</li>
        </ol>

        <p>You agree not do the following while using the Site:</p>

        <ol class="list_parentheses">
            <li>Acts that violate laws or public order and morals;</li>
            <li>Acts related to criminal acts;</li>
            <li>Acts of destroying or interfering with the function of server or network of the Site;</li>
            <li>Acts that may interfere with the operation of the Site;</li>
            <li>Acts of collecting or accumulating personal information etc. concerning other Learners;</li>
            <li>Acts of impersonating other Learners;</li>
            <li>Acts of providing benefits directly or indirectly to antisocial forces in connection with the Site; and</li>
            <li>Other acts that the Site deems inappropriate.</li>
        </ol>

        <h3>１１．免責事項 Disclaimer of Warranties</h3>

        <ol class="list_parentheses">
            <li>本サイトおよび講義提供者は、本サイトの内容及び本サイトを通じて受講者が得ることできる情報等について、その完全性、正確性、有用性、特定の目的への適合性、第三者の権利を侵害しないこと等について何らの保証もするものではなく、一切の責任を負わないものとします。</li>
            <li>本サイトの利用にあたっては受講者ご自身の責任において利用いただくものとします。</li>
            <li>本サイトおよび講義提供者は、本サイトに関して、受講者と他の受講者または第三者との間において生じた取引、連絡または紛争等について一切の責任を負わないものとします。</li>
        </ol>
        <p></p>
        <ol class="list_parentheses">
            <li>The Site and the instructors shall not bear any responsibility for or warrant the completeness, accuracy, usefulness or fitness for a particular purpose, or non-infringement to a third party of any information obtained from the Site content or the Site by the Learners.</li>
            <li>You shall be responsible for anything that happens through your User Account.</li>
            <li>The Site and the instructors shall have absolutely no responsibility for any transaction, communication or dispute etc. between any Learners or between any Learner and a third party with respect to the Site.</li>
        </ol>

        <h3>１２．言語 Language</h3>
        <p>本規約は、日本語を正文とします。本規約につき、参考のために他言語による翻訳文が作成された場合でも、日本語の正文のみが法的な効力を有するものとします。</p>
        <p>The governing language of these Terms of Use shall be Japanese. If an English translation hereof is made for reference purpose, only the Japanese original shall have the effect.</p>

        <h3>１３．利用規約の変更 Rights of Modification</h3>
        <p>本サイトは、必要と判断した場合には、受講者に通知することなくいつでも本規約を変更することができるものとします。</p>
        <p>The Site reserve the rights to change or modify these Terms of Use at its sole discretion at any time with or without notification to the Learners.</p>

        <p style="text-align: right">以上</p>

        <p></p>
        <p>制定　2018年3月12日</p>
        <p>Effective Date: March 12, 2018</p>

    </section>
</main>
