// Initialize the Open edX Bootstrap theme
@import "edx-bootstrap/sass/open-edx/theme";

$static-path: '..' !default;

$homepage-bg-image: url("#{$static-path}/images/ku_tower.jpg") !default;

.content-wrapper {
    margin-top: 0px !important;
    padding: 0 0 0px !important;
}

.courses-container {
    padding: 0 10px !important;
}
